form {
    display: grid;
    grid-template-columns: 100px 1fr;
    padding: 0 10px;

    label {
        color: white;
        margin: auto;
    }

    input {
        color: white;
        background: none;
        border: none;
        outline: none;
    }
}
