#root {
    display: grid;
    width: 100%;
    height: 100%;
    z-index: 100;

    & app-animated-background {
        grid-column: 1;
        grid-row: 1;
    }
}

#homescreen-dialog {
    background-image: url(/assets/login/stone.png);
    background-size: cover;
    grid-column: 1;
    grid-row: 1;
    margin: auto;
    padding: 100px;
    border: 2px solid black;
    border-radius: 16px;
    text-align: center;
}
