img {
    pointer-events: none;
}

#background-img {
    width: 100%;
    height: 100vh;
}

.fire {
    position: absolute;
    top: calc(53% - 100px);
    height: 100px;
    width: 12%;
}

#fire-img-1 {
    left: 0;
}

#fire-img-2 {
    right: 0;
}
