img {
    pointer-events: none;
}

#background-img {
    width: 100%;
    height: 100vh;
}

.fire-img-large {
    position: absolute;
    top: calc(53% - 100px);
    height: 100px;
    width: 12%;
    &.left {
        left: 0;
    }
    &.right {
        right: 0;
    }
}

.fire-img-small {
    position: absolute;
    top: calc(53% - 128px);
    height: 128px;
    width: 5%;
}
